
.DS_Store
*.vsidx
*.lock
Code Execution/.vs/Code Execution/v17/.suo
*.cache
Code Execution/obj/Debug
Code Execution/Properties/AssemblyInfo.cs
Memory Allocation/.vs/Memory Allocation/v17/.suo
Memory Allocation/obj/Debug
Memory Allocation/Properties/AssemblyInfo.cs
Memory Allocation/obj/Debug/Memory Allocation.exe.config
*.exe
*.pdb
